html * {
  color-profile: sRGB;
  rendering-intent: auto; 
}
  
.reveal {
  font-family: "Avenir Next", "sans-serif";
  font-size: 28px;
}

.reveal .slides {
  text-align: left;
}

.reveal strong {
  font-weight: 500;
  color: #EB3454;
}
.reveal em {
  font-style: italic;
  color: #1B789E;
}

.reveal li {
  padding-top: 4px;
  padding-bottom: 4px;
}

.reveal a {
    color: #857F03;
    border-bottom: 1px #CFC842 dashed;
    text-decoration: none;
    -webkit-transition: color border 0.15s ease;
    -moz-transition: color border 0.15s ease;
    transition: color border 0.15s ease;
}

.reveal a:hover {
    color: #CFC842;
    border-bottom: 1px #C4C4C4 dashed;
    text-shadow: none;
    text-decoration: none;
}



.reveal table {
  /*border-width: 1px;
  border-spacing: 2px;
  */
  border-style: solid;
  /*
  border-color: gray;
  border-collapse: collapse;*/
  border-width: 2px 0px 2px 0px;
  font-size: 0.7em;
}

.reveal table th {
  /*border-width: 1px;*/
  padding-left: 10px;
  padding-right: 25px;
  font-weight: bold;
  border-style: solid; /*dotted;*/
  border-width: 0px 0px 1px 0px;
  border-color: gray;
}

.reveal table td {
  /*border-width: 1px;*/
  padding-left: 10px;
  padding-right: 25px;
  /*border-style: dotted;
  border-color: gray;*/
  border-width: 0px 0px 0px 0px;
}

.input-color {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}
.input-color .color-box {
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    background-color: #ccc;
    position: relative;
    left: 0px;
    top: .2em;
    border: 1px solid #000;
}

.reveal p {
  font-weight: 400;
  text-shadow: none;
}
.reveal h1 {
  font-family: "Avenir Next", "sans-serif";
  font-weight: 500;
  text-transform: none;
  text-shadow: none; 
  font-size: 1.7em;
  color: #EB3454;
}
.reveal h2 {
  font-family: "Avenir Next", "sans-serif";
  text-transform: none;
  text-shadow: none; 
  font-size: 1.4em;
  color: #1B789E;
}
.reveal h3 {
  font-family: "Avenir Next", "sans-serif";
  text-transform: none;
  text-shadow: none; 
  font-size: 1.2em;
  color: #857F03;
}
.reveal h4 {
  font-family: "Avenir Next", "sans-serif";
  text-transform: none;
  text-shadow: none; 
  font-size: 1em;
}
.reveal h5 {
  font-family: "Avenir Next", "sans-serif";
  text-transform: none;
  text-shadow: none; 
}
.reveal h6 {
  font-family: "Avenir Next", "sans-serif";
  text-transform: none;
  text-shadow: none; 
}

.reveal section img {
  margin: 0px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: none;
  box-shadow: none;
}

.center {
  text-align: center;
}
.left {
  float: left;
  width:48%;
}
.right {
  float: right;
  width:48%;
}
.reveal .font-80 {
  font-size: 80%;
}
.reveal .font-90 {
  font-size: 90%;
}
.reveal .font-70 {
  font-size: 70%;
}
.reveal .font-60 {
  font-size: 60%;
}

.reveal pre {
    display: block;
    position: relative;
    width: 100%;
    margin: 10px auto;
    text-align: left;
    font-size: .85em;
    font-family: 'Hack';
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.reveal code {
  font-family: 'Hack';
  font-size: .85em;
  background-color: #fdf6e3;
  border:solid 1px #B0B0B0;
}

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: none; /*400px;*/
  word-wrap: normal;
  font-family: 'Hack';
  color: #222222;
  background-color: #F9F9F9; 
}

.reveal pre code.sourceCode.r  { 
  background-color: #fdf6e3;
}
.reveal pre code.sourceCode.bash  { 
  background-color: #002b36;
  color: #eeee22;
}


.hl.num {
  color: #dc322f;
}
.hl.str {
  color: #dc322f;
}
.hl.com {
  color: #93a1a1;
}
.hl.opt {
  color: #586e75;
}
.hl.std {
  color: #657b83;
}
.hl.kwa {
  color: #cb4b16;
}
.hl.kwb {
  color: #859900;
}
.hl.kwc {
  color: #cb4b16;
}
.hl.kwd {
  color: #586e75;
}



